@use 'breakpoints';

#ascii-face {
    color: #022BDD;
    display: inline-block;
    position: relative;
    white-space: pre-wrap;
}

@media (max-width: breakpoints.$mobile), (max-height: breakpoints.$min-height) {
    #ascii-face {
        font-size: 8px;
        line-height: 4px;
        margin-top: 16px;
    }
}

@media (min-width: breakpoints.$mobile) and (max-width: #{breakpoints.$tablet - 1px}) {
    #ascii-face {
        font-size: 10px;
        line-height: 5px;
        margin-top: -48px;
    }
}

@media (min-width: breakpoints.$tablet) {
    #ascii-face {
        font-size: 12px;
        line-height: 6px;
        margin-top: -48px;
    }
}