@use 'breakpoints';

.hero {
    flex-grow: 1;
    display: flex;
}


.hero_slot {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: breakpoints.$tablet), (max-height: breakpoints.$min-height) {
    .hero {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 6rem;
        justify-content: start;
    }

    .hero_slot {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}