<footer class="corners">
  <div class="corners__top-left">
    {% include 'src/templates/social-links.liquid' %}
  </div>
  <div class="corners__top-right">
    Resumé
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.25 11.25L10 17.5M10 17.5L3.75 11.25M10 17.5L10 2.5" stroke="#0030FF" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <div class="corners__bottom-left mobile-hidden">San Francisco, CA</div>
  <div class="corners__bottom-left mobile-only">San Francisco</div>
  <div class="corners__bottom-right">©2025</div>
</footer>