<header>
 <nav>
        <ul class="nav-links">
            {% unless pathname == '/' %}
                <li class="nav-item" data-path="home"><a href="/">home</a></li>
            {% endunless %}
            {% unless pathname == '/projects' %}
                <li class="nav-item" data-path="projects"><a href="/projects">projects</a></li>
            {% endunless %}
            {% unless pathname == '/blog' %}
                <li class="nav-item" data-path="blog"><a href="/blog">blog</a></li>
            {% endunless %}
            {% unless pathname == '/about' %}
                <li class="nav-item" data-path="about"><a href="/about">about</a></li>
            {% endunless %}
            {% unless pathname == '/resume' %}
                <li class="nav-item" data-path="resume"><a href="/resume">resume</a></li>
            {% endunless %}
        </ul>
    </nav>
    
    {% if pathname == '/' %}
        {% include 'src/templates/social-links.liquid' %}
    {% endif %}
    
    {% unless pathname == '/' %}
        <div class="logo_link">
            <a href="/">MIKE FOSTER</a>
        </div>
    {% endunless %}
    
   
</header>