<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'src/templates/head.liquid' %}
  <title>{{ title }}</title>
</head>

<body>
  {% include 'src/templates/header.liquid' %}
  <main>
    <article>
      {{ content | raw }}
    </article>
  </main>
  {% include 'src/templates/footer.liquid' %}
</body>

</html>