<article class="project_preview">
  <a href="{{ article.pathname }}">
      <h2 class="project_preview__title">{{ article.title }}</h2>
      <p class="project_preview__subtitle">{{ article.subtitle }}</p>
  </a>
</article>
