<article>
  <a href="{{ article.pathname }}">
    <div class="project-content">
      <h2 class="project-title">{{ article.title }}</h2>
        <p class="project-subtitle">{{ article.subtitle }}</p>
    </div>
  </a>
</article>
