<ul class="social-links">
  
  <li><a href="https://linkedin.com/in/mfdev" target="_blank" rel="noopener noreferrer"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.56564 8.1049H0.415527V24.5283H5.56564V8.1049Z" fill="#0030FF"/>
<path d="M19.4967 7.74888C19.3068 7.72514 19.1051 7.71328 18.9033 7.70141C16.0197 7.58274 14.394 9.29153 13.8244 10.0273C13.6702 10.229 13.599 10.3477 13.599 10.3477V8.15234H8.67432V24.5757H13.599H13.8244C13.8244 22.9025 13.8244 21.2412 13.8244 19.568C13.8244 18.6662 13.8244 17.7643 13.8244 16.8624C13.8244 15.747 13.7414 14.5603 14.2991 13.5398C14.7738 12.6854 15.6281 12.2582 16.5893 12.2582C19.4373 12.2582 19.4967 14.8332 19.4967 15.0706C19.4967 15.0824 19.4967 15.0943 19.4967 15.0943V24.6469H24.6468V13.9314C24.6468 10.2646 22.7837 8.10487 19.4967 7.74888Z" fill="#0030FF"/>
<path d="M2.99038 5.98077C4.64192 5.98077 5.98077 4.64193 5.98077 2.99039C5.98077 1.33884 4.64192 0 2.99038 0C1.33884 0 0 1.33884 0 2.99039C0 4.64193 1.33884 5.98077 2.99038 5.98077Z" fill="#0030FF"/>
</svg></a></li>
<li><a href="https://github.com/mikofo" target="_blank" rel="noopener noreferrer">
<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M13.0108 0C5.81615 0 0 5.95831 0 13.3295C0 19.2218 3.7266 24.2094 8.89639 25.9747C9.54275 26.1074 9.77951 25.6879 9.77951 25.335C9.77951 25.026 9.7582 23.9668 9.7582 22.8631C6.13892 23.6577 5.38524 21.2741 5.38524 21.2741C4.8036 19.7293 3.94179 19.3323 3.94179 19.3323C2.7572 18.5157 4.02808 18.5157 4.02808 18.5157C5.3421 18.604 6.0316 19.884 6.0316 19.884C7.19461 21.9141 9.0687 21.3405 9.82265 20.9873C9.93024 20.1266 10.2751 19.5308 10.6413 19.1998C7.75468 18.8908 4.71758 17.7433 4.71758 12.6232C4.71758 11.1667 5.23424 9.97502 6.0529 9.04823C5.92374 8.71728 5.47126 7.34876 6.18233 5.51712C6.18233 5.51712 7.2809 5.16396 9.75794 6.88537C10.8184 6.59359 11.9121 6.44516 13.0108 6.44391C14.1093 6.44391 15.2292 6.59856 16.2633 6.88537C18.7406 5.16396 19.8392 5.51712 19.8392 5.51712C20.5503 7.34876 20.0975 8.71728 19.9683 9.04823C20.8086 9.97502 21.3039 11.1667 21.3039 12.6232C21.3039 17.7433 18.2668 18.8686 15.3586 19.1998C15.8327 19.6191 16.2417 20.4134 16.2417 21.6715C16.2417 23.4589 16.2204 24.8935 16.2204 25.3347C16.2204 25.6879 16.4575 26.1074 17.1036 25.975C22.2733 24.2092 25.9999 19.2218 25.9999 13.3295C26.0212 5.95831 20.1838 0 13.0108 0Z" fill="#0030FF"/>
</svg>
</a></li>
  <li><a href="https://twitter.com/mikofo" target="_blank" rel="noopener noreferrer"><svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_281_90)">
<path d="M18.4097 13.2394C18.258 13.2251 18.1064 13.2035 17.9619 13.1819C18.1136 13.2035 18.2652 13.2179 18.4097 13.2394Z" fill="#0030FF"/>
<path d="M13 10.2064C11.8228 7.92801 8.61611 3.6802 5.63333 1.58864C2.78056 -0.423863 1.69 -0.0716755 0.975 0.244574C0.151667 0.618324 0 1.88332 0 2.62364C0 3.36395 0.411667 8.71864 0.678889 9.60989C1.56 12.5568 4.70167 13.5558 7.59056 13.2396C7.735 13.218 7.88667 13.1964 8.03833 13.1821C7.88667 13.2036 7.74222 13.2252 7.59056 13.2396C3.35111 13.8649 -0.411667 15.403 4.52833 20.8727C9.95944 26.4718 11.9672 19.6724 13 16.2296C14.0328 19.6724 15.2244 26.2274 21.3778 20.8727C26 16.2296 22.6489 13.8649 18.4094 13.2396C18.2578 13.2252 18.1061 13.2036 17.9617 13.1821C18.1133 13.2036 18.265 13.218 18.4094 13.2396C21.2983 13.563 24.44 12.5639 25.3211 9.60989C25.5883 8.71864 26 3.37114 26 2.62364C26 1.87614 25.8483 0.618324 25.025 0.244574C24.31 -0.078863 23.2194 -0.423863 20.3667 1.58145C17.3839 3.67301 14.1772 7.92082 13 10.1993V10.2064Z" fill="#0030FF"/>
</g>
<defs>
<clipPath id="clip0_281_90">
<rect width="26" height="23" fill="white"/>
</clipPath>
</defs>
</svg></a></li>
</ul>
