<!DOCTYPE html>
  <html lang="en">
    <head>
     {% include 'src/templates/head.liquid' %}
      <title>Mike Foster - Projects</title>
    </head>

    <body>
      {% include 'src/templates/header.liquid' %}
       <main class="article-list">
        <h1 class="article-list__title">Blog</h1>
        <p class="article-list__subtitle">
          Here are some of my thoughts on software development, design, and other topics.
        </p>
        <ul class="article-list__grid">
          {% for article in blog %}
            {% include 'src/templates/blog-preview.liquid' with article %}
          {% endfor %}
        </ul>
      </main>
    </body>
  </html>