<!DOCTYPE html>
  <html lang="en">
    <head>
     {% include 'src/templates/head.liquid' %}
      <title>Mike Foster - frontend engineer and product creator</title>
    </head>

    <body>
      {% include 'src/templates/header.liquid' %}
      <main>
        <section class="hero">
          <div class="hero_slot">
            <div class="text-center">
              <h1 class="logo">MIKE FOSTER</h1>
              <p class="dm-mono">frontend engineer and product creator</p>
            </div>
          </div>
          <span class="hero_slot">
          </span>
        </section>
      </main>
      <section>
        <h1>Projects</h1>
        {{ projects[0].title }}
      </section>
      <section>
        <h1>Blog</h1>
      </section>
      {% include 'src/templates/footer.liquid' %}
    </body>
  </html>