<!DOCTYPE html>
  <html lang="en">
    <head>
     {% include 'src/templates/head.liquid' %}
      <title>Mike Foster - frontend engineer and product creator</title>
    </head>

    <body>
      {% include 'src/templates/header.liquid' %}
      <main>
        <section class="hero">
            <div class="hero_slot">
              <h1 class="logo">MIKE&nbsp;FOSTER</h1>
            </div>
            <div class="hero_slot">
              <p class="dm-mono" role='doc-subtitle'>frontend engineer & product creator</p>
            </div>
        </section>
      </main>
      <section>
        <h1>Projects</h1>
        <ul class="article-grid">
          {% for article in projects %}
            {% include 'src/templates/article-link.liquid' with article %}
          {% endfor %}
        </ul>
      </section>
      <section>
        <h1>Blog</h1>
      </section>
      {% include 'src/templates/footer.liquid' %}
    </body>
  </html>