<!DOCTYPE html>
  <html lang="en">
    <head>
     {% include 'src/templates/head.liquid' %}
      <title>Mike Foster - Projects</title>
    </head>

    <body>
      {% include 'src/templates/header.liquid' %}
      <main class="articles">
        <h1 class="title">Projects</h1>
        <p class="subtitle">
          Here are case studies from my favorite projects. Projects range from professional to personal and cover a variety of topics.
        </p>
        <ul class="article-grid">
          {% for article in projects %}
            {% include 'src/templates/project-link.liquid' with article %}
          {% endfor %}
        </ul>
      </main>
      {% include 'src/templates/footer.liquid' %}
    </body>
  </html>