@mixin dm-mono($weight: 400) {
  font-family: "DM Mono", monospace;
  font-weight: $weight;
  font-style: normal;
}

@mixin dm-sans($weight: 400) {
  font-family: "DM Sans", sans-serif;
  font-weight: $weight;
  font-style: normal;
}

@mixin jetbrains-mono($weight: 400) {
  font-family: "JetBrains Mono", "DM Mono", monospace;
  font-weight: $weight;
  font-style: normal;
}

@mixin source-code-pro($weight: 400) {
  font-family: "Source Code Pro", "DM Mono", monospace;
  font-weight: $weight;
  font-style: normal;
  letter-spacing: -0.022em;
  line-height: 1.4;
  font-size: 14px;
}
