@mixin dm-mono($weight: 400) {
  font-family: "DM Mono", monospace;
  font-weight: $weight;
  font-style: normal;
}

@mixin dm-sans($weight: 400) {
  font-family: "DM Sans", sans-serif;
  font-weight: $weight;
  font-style: normal;
}
