@use "breakpoints";
@use "colors";
#about {
  color: colors.$primary;

  @media (max-width: breakpoints.$mobile) {
    margin-bottom: 1.5rem;
  }
}

#about:not(:target) {
  display: none;

  @media (max-width: breakpoints.$mobile) {
    margin-bottom: 1.5rem;
    display: flex;
  }
}