@use "fonts";
@use "colors";
@use "breakpoints";

.article-list {
  padding: 16rem;
  padding-top: 3rem;

  @media (max-width: breakpoints.$mobile) {
    padding: 4rem;
  }

  &__title {
    @include fonts.dm-mono;
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }

  &__subtitle {
    @include fonts.dm-sans;
    font-size: 2rem;
    color: colors.$primary;
    margin-bottom: 5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    row-gap: 3rem;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: breakpoints.$mobile) {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
}

.project_preview {
  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    @include fonts.dm-mono;
    font-size: 1.5rem;
    margin: 0;
  }

  &__subtitle {
    @include fonts.dm-sans;
    font-size: 1.25rem;
    margin: 0;
  }

  .article-list__grid & {
    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1.75rem;
    }
  }
}

.blog_preview {
  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    @include fonts.dm-sans;
    font-size: 1.5rem;
    margin: 0;
  }

  &__meta {
    @include fonts.dm-mono(100);
    font-size: 1rem;
    margin: 0;
  }

  .article-list__grid & {
    &__title {
      font-size: 2rem;
    }

    &__meta {
      font-size: 1.5rem;
    }
  }
}
