@use "fonts";
@use "breakpoints";
@use "colors";
@use "utilities";

article.post {
  padding-top: 6rem;
  padding-bottom: 4rem;
  padding-left: 22rem;
  padding-right: 22rem;
  @include utilities.fade-in;

  @media (max-width: breakpoints.$mobile) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  p {
    @include fonts.dm-sans;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 32px;
  }

  h2,
  strong {
    @include fonts.dm-mono(400);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1.95em;
    color: colors.$primary;
  }

  .hljs {
    margin-bottom: 2em;
    background-color: #e0e1ea;
    @include fonts.source-code-pro;
    padding: 2rem;
  }

  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-selector-tag,
  .hljs-selector-attr,
  .hljs-name {
    color: colors.$primary;
  }

  .hljs-selector-pseudo,
  .hljs-number {
    color: #1c00cf;
  }

  .hljs-string,
  .hljs-comment {
    color: #007400;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2em;
  }

  .post__header {
    @include fonts.dm-sans(500);
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }

  .post__subtitle {
    @include fonts.dm-sans(400);
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: #434343;
  }

  .post__meta {
    display: flex;
    gap: 1rem;
    margin-bottom: 5rem;
    color: #242424;

    > p {
      @include fonts.dm-mono;
      margin-bottom: 0;
      font-size: 1rem;
    }
  }

  .post__content {
    ul {
      list-style-type: disc;
      padding-inline-start: 2rem;

      li {
        @include fonts.dm-sans;
        font-size: 1.25rem;
        line-height: 2.25rem;
        list-style-type: disc;
      }
    }
  }
}

