@use "breakpoints";
@use "colors";

#ascii-face {
  display: inline-block;
  position: relative;
  white-space: pre-wrap;
  font-family: "IBM Plex Mono", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  line-height: 4.5px;
  color: colors.$primary;
}
