@use "fonts";
@use "colors";
@use "breakpoints";
@use "text";
@use "utilities";
@use "hero";
@use "ascii-face";
@use "header";
@use "articles";

body {
  background: colors.$background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-left: 200px;
  padding-right: 200px;
}

.logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}
