@use "colors";
@use "breakpoints";
@use "text";
@use "utilities";
@use "hero";
@use "ascii-face";
@use "header";

body {
  background: colors.$background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-left: 128px;
  padding-right: 128px;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;

  &:visited {
    color: colors.$primary-dark;
  }
}
