@use "colors";
@use "fonts";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  @include fonts.dm-mono;
  color: colors.$primary;
  display: flex;
  justify-content: right;
  gap: 0;
  font-size: 1.25rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links li:not(:last-child)::after {
  content: ".";
  margin: 0 24px;
  color: colors.$primary;
  font-family: serif;
  font-size: 1.75rem;
}

.social-links {
  display: flex;
  justify-content: left;
  gap: 24px;
  list-style-type: none;
  margin-left: 0px;
}

ul > li > a {
  font-size: 1.25rem;
}

ul > li:first-child {
  list-style-type: none;
}
