@use "colors";
@use "fonts";
@use "utilities";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  @include utilities.nav-styles;
  justify-content: center;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links li:not(:last-child)::after {
  content: "·";
  margin: 0 24px;
  color: colors.$primary;
  font-family: serif;
  font-size: 1.75rem;
}

.social-links {
  display: flex;
  align-items: end;
  justify-content: left;
  gap: 1.25rem;
  list-style-type: none;
  padding: 0;
  margin: 0;

  svg path {
    transition: fill 0.2s ease;
  }

  a:hover svg path {
    fill: colors.$primary-dark;
  }
}

ul > li > a {
  font-size: 1.25rem;
}

ul > li:first-child {
  list-style-type: none;
}
