@use "breakpoints";
@use "utilities";

.hero {
  @include utilities.flex-center;
  flex-direction: column;
  gap: 2rem;
}

.hero_slot {
  width: 100%;
  display: flex;
  align-items: center;
}

.hero_slot:first-child {
  justify-content: flex-start;
}

.hero_slot:last-child {
  justify-content: flex-end;
}

@media (max-width: breakpoints.$tablet), (max-height: breakpoints.$min-height) {
  .hero {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
