@use "breakpoints";
@use "utilities";
@use "fonts";
@use "colors";

.hero {
  @include utilities.flex-center;
  gap: 3rem;
  height: 100vh;
  width: 100vw;
  z-index: 1;

  @media (max-width: breakpoints.$mobile) {
    padding-top: 4rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
  }
}

.hero_slot:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 57%;

  @media (max-width: breakpoints.$mobile) {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
  }
}

.hero_slot:last-child {
  font-weight: 100;
  align-items: flex-start;
  height: 50%;
  width: 43%;

  @media (max-width: breakpoints.$mobile) {
    display: none;
  }
}

.hero_slot__nav {
  @include utilities.nav-styles;
  margin-bottom: 5rem;
}

.hero_slot__nav-link {
  color: colors.$primary-disabled !important;

  &:hover {
    color: colors.$primary-light !important;
  }
}

.hero_slot__nav-link--selected {
  color: colors.$primary;
}

.hero_slot__content {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 24rem;
}

pre {
  @include fonts.jetbrains-mono;
  color: colors.$primary;
  letter-spacing: -0.05em;
  line-height: 1rem;
  margin: 0;

  @media (max-width: breakpoints.$mobile) {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
}
