@use "colors";
@use "fonts";

a {
  text-decoration: none;
  color: colors.$primary;

  &:visited {
    color: colors.$primary;
  }

  &:hover {
    color: colors.$primary-dark;
    cursor: pointer;
  }
}

h1 {
  margin: 0;
  @include fonts.dm-mono;
  font-size: 2rem;
  color: colors.$primary;
}

h1.title {
  @include fonts.dm-mono;
  font-weight: 100;
  font-size: 3.25rem;
  margin-top: 100px;
  margin-bottom: 1.5rem;
}

p.subtitle {
  @include fonts.dm-sans(300);
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 3rem;
  color: colors.$primary;
}

p {
  font-size: 1.5rem;
  margin: 0;
  opacity: 70;
}

p[role="doc-subtitle"] {
  @include fonts.dm-mono;
  font-size: 1.25rem;
  color: colors.$primary;
  text-align: right;
}
